<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <title>现场重建</title>

    <link rel="stylesheet" href="bootstrap4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="time/index.css">

    <link rel="stylesheet" href="css/main.css">

    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/vue.min.js"></script>
    <script src="js/axios.min.js"></script>
    <script src="bootstrap4.5.0/js/bootstrap.min.js"></script>
    <script src="bootstrap4.5.0/js/popper.min.js"></script>
    <script src="time/index.js"></script>

    <style>
        .suoimg {
            width: 310px;
            height: 160px;
            padding: 5px;
        }
    </style>
</head>

<body>
<div id="vue_index">
    <!-- M模态框 -->
    <button type="button" class="btn btn-primary modal-button" data-toggle="modal" data-target="#exampleModal"
            style="display: none">
        触发模态框按钮
    </button>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">提 示</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{alertMessage}}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>

    <div id="main_content">
        <div class="container">
            <div class="row">
                <div class="col-12" style="min-height:500px">
                    <div class="col-h2">

                        <h2>{{configScene.SCENE_ID}}-重建</h2>
                    </div>
                    <div class="row">
                        <div class="input-group col-md-6">
                            <div class="input-group-prepend">
                                <span class="input-group-text">案件ID</span>
                            </div>
                            <input type="text" disabled class="form-control" id="case_id"
                                   aria-describedby="basic-addon3" v-model="configScene.case_id">
                        </div>
                        <div class="input-group col-md-6">
                            <div class="input-group-prepend">
                                <span class="input-group-text">场景ID</span>
                            </div>
                            <input type="text" disabled class="form-control" id="scene_id"
                                   aria-describedby="basic-addon3"
                                   v-model="configScene.scene_id">
                        </div>
                        <div class="input-group col-md-6">
                            <div class="input-group-prepend">
                                <span class="input-group-text">起始经度</span>
                            </div>
                            <input type="text" disabled class="form-control" id="start_lon"
                                   aria-describedby="basic-addon3"
                                   v-model="configScene.start_lon">
                        </div>
                        <div class="input-group col-md-6">
                            <div class="input-group-prepend">
                                <span class="input-group-text">结束经度</span>
                            </div>
                            <input type="text" disabled class="form-control" id="end_lon"
                                   aria-describedby="basic-addon3"
                                   v-model="configScene.end_lon">
                        </div>
                        <div class="input-group col-md-6">
                            <div class="input-group-prepend">
                                <span class="input-group-text">起始纬度</span>
                            </div>
                            <input type="text" disabled class="form-control" id="start_lat"
                                   aria-describedby="basic-addon3"
                                   v-model="configScene.start_lat">
                        </div>
                        <div class="input-group col-md-6">
                            <div class="input-group-prepend">
                                <span class="input-group-text">结束纬度</span>
                            </div>
                            <input type="text" disabled class="form-control" id="end_lat"
                                   aria-describedby="basic-addon3"
                                   v-model="configScene.end_lat">
                        </div>
                        <div class="input-group col-md-6">
                            <div class="input-group-prepend">
                                <span class="input-group-text">起始高程</span>
                            </div>
                            <input type="text" disabled class="form-control" id="start_height"
                                   aria-describedby="basic-addon3"
                                   v-model="configScene.start_height">
                        </div>
                        <div class="input-group col-md-6">
                            <div class="input-group-prepend">
                                <span class="input-group-text">结束高程</span>
                            </div>
                            <input type="text" disabled class="form-control" id="end_height"
                                   aria-describedby="basic-addon3"
                                   v-model="configScene.end_height">
                        </div>
                        <div class="input-group col-md-6">
                            <div class="input-group-prepend">
                                <span class="input-group-text">水平旋转</span>
                            </div>
                            <input type="text" disabled class="form-control" id="angle_lon"
                                   aria-describedby="basic-addon3"
                                   v-model="configScene.angle_lon">
                        </div>
                        <div class="input-group col-md-6">
                            <div class="input-group-prepend">
                                <span class="input-group-text">垂直旋转</span>
                            </div>
                            <input type="text" disabled class="form-control" id="angle_lat"
                                   aria-describedby="basic-addon3"
                                   v-model="configScene.angle_lat">
                        </div>
                        <div class="input-group col-md-6">
                            <div class="input-group-prepend">
                                <span class="input-group-text">径向旋转</span>
                            </div>
                            <input type="text" disabled class="form-control" id="angle_height"
                                   aria-describedby="basic-addon3"
                                   v-model="configScene.angle_height">
                        </div>
                        <div class="input-group col-md-6">
                            <div class="input-group-prepend">
                                <span class="input-group-text">缩放比例</span>
                            </div>
                            <input type="text" disabled class="form-control" id="scale"
                                   aria-describedby="basic-addon3"
                                   v-model="configScene.scale">
                        </div>
                        <div class="input-group col-md-6">
                            <div class="input-group-prepend">
                                <span class="input-group-text">场景路径</span>
                            </div>
                            <input type="text" disabled class="form-control" id="scene_path"
                                   aria-describedby="basic-addon3"
                                   v-model="configScene.scene_path">
                        </div>

                        <div class="input-btn col-md-12" style="display: flex;justify-content: center;
              padding: 10px;">
                            <button type="button col-md-5" @click="btnClick" class="btnmy"
                                    style="margin-right: 30px;">编辑
                            </button>
                            <button type="button col-md-7" @click="btn2Click" class="btnmy">保存</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="config/config.js"></script>
<script>
    var vm = new Vue({
        el: '#vue_index',
        data: {
            alertMessage: "1",
            sceneId: "",
            configScene: {},
            inquestBaseInfo: {},
            siteChanges: {},
            caseType: {},
            fieldCommander: {},
            taskSource: {},
            inquestEnclosure: []
        },
        mounted() {
            this.init();
        },
        watch: {
            // 进行深度监听
            markGoods: {
                deep: true,
                //使用handler来处理变化
                handler(newVal) {
                    //这个newVal就是监听的对象更新后的值
                    console.log("我变化了", newVal);
                    this.markGoods = newVal
                }
            }
        },
        methods: {
            init() {
                // 获取指定参数值
                this.sceneId = this.getUrlParam('sceneId');
                if (this.sceneId == "") {
                    this.alertMessage = "参数错误";
                    $(".modal-button").click();
                } else {
                    let params = {
                        sceneId: this.sceneId
                    }
                    axios.post(base_ip + "/wuzheng/select/configScene", params).then((response) => {
                        if (response.data.code == '200') {
                            this.configScene = response.data.data;
                        } else {
                            this.alertMessage = response.data.code.message;
                            $(".modal-button").click();
                        }
                    })
                }
            },
            getUrlParam(name) {
                // 取得url中?后面的字符
                var query = window.location.search.substring(1);
                // 把参数按&拆分成数组
                var param_arr = query.split("&");
                for (var i = 0; i < param_arr.length; i++) {
                    var pair = param_arr[i].split("=");
                    if (pair[0] == name) {
                        return pair[1];
                    }
                }
                return "";
            },
            btnClick() {
                $('.input-group input').attr('disabled', false)
            },
            baseEditClick() {
                $('.input-group input').attr('disabled', false)
            },
            btn2Click() {
                this.configScene.tableName = "scene_t";
                this.configScene.tableId = "scene_id";
                axios.post(base_ip + "/wuzhengB/update", this.configScene).then((response) => {
                    if (response.data.code == '200') {

                    } else {
                        this.alertMessage = response.data.code.message;
                        $(".modal-button").click();
                    }
                })

                $('.input-group input').attr('disabled', true)
            }
        }
    })

</script>
</body>
</html>
