<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>现场详情</title>
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/vue.min.js"></script>
    <script src="js/axios.min.js"></script>
    <script src="bootstrap4.5.0/js/bootstrap.min.js"></script>
    <script src="bootstrap4.5.0/js/popper.min.js"></script>
    <link rel="stylesheet" href="bootstrap4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
</head>

<body>
<div id="vue_index">
    <!-- M模态框 -->
    <button type="button" class="btn btn-primary modal-button" data-toggle="modal" data-target="#exampleModal"
            style="display: none">
        触发模态框按钮
    </button>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">提 示</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{alertMessage}}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>

    <div id="main_content">
        <div class="container">
            <div class="row">
                <div class="col-12" style="min-height:500px">
                    <div class="col-h2">

                        <h2>{{configScene.FIELD_SURVEY_NUMBER}}-重建</h2>
                    </div>
                    <div class="row">
                        <div class="input-group col-md-6">
                            <div class="input-group-prepend">
                                <span class="input-group-text">案件ID</span>
                            </div>
                            <input type="text" disabled class="form-control" id="case_id"
                                   aria-describedby="basic-addon3" v-model="configScene.case_id">
                        </div>
                        <div class="input-group col-md-6">
                            <div class="input-group-prepend">
                                <span class="input-group-text">场景ID</span>
                            </div>
                            <input type="text" disabled class="form-control" id="scene_id"
                                   aria-describedby="basic-addon3"
                                   v-model="configScene.scene_id">
                        </div>
                        <div class="input-group col-md-6">
                            <div class="input-group-prepend">
                                <span class="input-group-text">起始经度</span>
                            </div>
                            <input type="text" disabled class="form-control" id="start_lon"
                                   aria-describedby="basic-addon3"
                                   v-model="configScene.start_lon">
                        </div>
                        <div class="input-group col-md-6">
                            <div class="input-group-prepend">
                                <span class="input-group-text">结束经度</span>
                            </div>
                            <input type="text" disabled class="form-control" id="end_lon"
                                   aria-describedby="basic-addon3"
                                   v-model="configScene.end_lon">
                        </div>
                        <div class="input-group col-md-6">
                            <div class="input-group-prepend">
                                <span class="input-group-text">起始纬度</span>
                            </div>
                            <input type="text" disabled class="form-control" id="start_lat"
                                   aria-describedby="basic-addon3"
                                   v-model="configScene.start_lat">
                        </div>
                        <div class="input-group col-md-6">
                            <div class="input-group-prepend">
                                <span class="input-group-text">结束纬度</span>
                            </div>
                            <input type="text" disabled class="form-control" id="end_lat"
                                   aria-describedby="basic-addon3"
                                   v-model="configScene.end_lat">
                        </div>
                        <div class="input-group col-md-6">
                            <div class="input-group-prepend">
                                <span class="input-group-text">起始高程</span>
                            </div>
                            <input type="text" disabled class="form-control" id="start_height"
                                   aria-describedby="basic-addon3"
                                   v-model="configScene.start_height">
                        </div>
                        <div class="input-group col-md-6">
                            <div class="input-group-prepend">
                                <span class="input-group-text">结束高程</span>
                            </div>
                            <input type="text" disabled class="form-control" id="end_height"
                                   aria-describedby="basic-addon3"
                                   v-model="configScene.end_height">
                        </div>
                        <div class="input-group col-md-6">
                            <div class="input-group-prepend">
                                <span class="input-group-text">水平旋转</span>
                            </div>
                            <input type="text" disabled class="form-control" id="angle_lon"
                                   aria-describedby="basic-addon3"
                                   v-model="configScene.angle_lon">
                        </div>
                        <div class="input-group col-md-6">
                            <div class="input-group-prepend">
                                <span class="input-group-text">垂直旋转</span>
                            </div>
                            <input type="text" disabled class="form-control" id="angle_lat"
                                   aria-describedby="basic-addon3"
                                   v-model="configScene.angle_lat">
                        </div>
                        <div class="input-group col-md-6">
                            <div class="input-group-prepend">
                                <span class="input-group-text">径向旋转</span>
                            </div>
                            <input type="text" disabled class="form-control" id="angle_height"
                                   aria-describedby="basic-addon3"
                                   v-model="configScene.angle_height">
                        </div>
                        <div class="input-group col-md-6">
                            <div class="input-group-prepend">
                                <span class="input-group-text">场景路径</span>
                            </div>
                            <input type="text" disabled class="form-control" id="scene_path"
                                   aria-describedby="basic-addon3"
                                   v-model="configScene.scene_path">
                        </div>

                        <div class="input-btn col-md-12" style="display: flex;justify-content: center;padding: 10px;">
                            <button type="button" @click="baseEditClick" class="btn btn-warning"
                                    style="margin-right: 30px;color: #fff;background-color: #ec8b0b;width: 152px;height: 51px;">
                                编辑
                            </button>
                            <button type="button" @click="baseSaveClick" class="btn btn-primary"
                                    style="background-color: #2196f3;width: 152px;height: 51px;">保存
                            </button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="config/config.js"></script>
<script>
    var vm = new Vue({
        el: '#vue_index',
        data: {
            alertMessage: "1",
            sceneId: "",
            configScene: {},
            inquestBaseInfo: {},
            siteChanges: {},
            caseType: {},
            fieldCommander: {},
            taskSource: {},
            inquestEnclosure: [],
            downUrl: base_ip + "/wuzhengB/down?tableName=INQUEST_ENCLOSURE&tableIdName=INQUEST_ENCLOSURE_ID&tableFileName=INQUEST_ENCLOSURE_NAME&tableFileContent=INQUEST_ENCLOSURE_CONTENT"
        },
        mounted() {
            this.init();
        },
        methods: {
            init() {
                // 获取指定参数值
                this.sceneId = this.getUrlParam('scene_id');
                if (this.sceneId == "") {
                    this.alertMessage = "参数错误";
                    $(".modal-button").click();
                } else {
                    let params = {
                        sceneId: this.sceneId
                    }
                    axios.post(base_ip + "/wuzheng/select/configScene", params).then((response) => {
                        if (response.data.code == '200') {
                            this.scene_id = response.data.data.scene_id == null ? {} : response.data.data.scene_id;
                            this.case_id = response.data.data.case_id == null ? {} : response.data.data.case_id;
                            this.start_lon = response.data.data.start_lon == null ? {} : response.data.data.start_lon;
                            this.start_lat = response.data.data.start_lat == null ? {} : response.data.data.start_lat;
                            this.start_height = response.data.data.start_height == null ? {} : response.data.data.start_height;
                            this.end_lon = response.data.data.end_lon == null ? {} : response.data.data.end_lon;
                            this.end_lat = response.data.data.end_lat == null ? {} : response.data.data.end_lat;
                            this.end_height = response.data.data.end_height == null ? {} : response.data.data.end_height;
                            this.angle_lon = response.data.data.angle_lon == null ? {} : response.data.data.angle_lon;
                            this.angle_lat = response.data.data.angle_lat == null ? {} : response.data.data.angle_lat;
                            this.angle_height = response.data.data.angle_height == null ? {} : response.data.data.angle_height;
                            this.scene_path = response.data.data.scene_path == null ? {} : response.data.data.scene_path;
                        } else {
                            this.alertMessage = response.data.code.message;
                            $(".modal-button").click();
                        }
                    })
                }
            },
            getUrlParam(name) {
                // 取得url中?后面的字符
                var query = window.location.search.substring(1);
                // 把参数按&拆分成数组
                var param_arr = query.split("&");
                for (var i = 0; i < param_arr.length; i++) {
                    var pair = param_arr[i].split("=");
                    if (pair[0] == name) {
                        return pair[1];
                    }
                }
                return "";
            },

            baseEditClick() {
                $('.input-group input').attr('disabled', false)
            },
            baseSaveClick() {
                this.inquestBaseInfo.tableName = "INQUEST_BASE_INFO";
                this.inquestBaseInfo.tableId = "BASE_INFO_ID";
                axios.post(base_ip + "/wuzhengB/update", this.inquestBaseInfo).then((response) => {
                    if (response.data.code == '200') {

                    } else {
                        this.alertMessage = response.data.code.message;
                        $(".modal-button").click();
                    }
                })
                this.fieldCommander.tableName = "FIELD_COMMANDER";
                this.fieldCommander.tableId = "FIELD_COMMANDER_ID";
                axios.post(base_ip + "/wuzhengB/update", this.fieldCommander).then((response) => {
                    if (response.data.code == '200') {

                    } else {
                        this.alertMessage = response.data.code.message;
                        $(".modal-button").click();
                    }
                })
                this.siteChanges.tableName = "SITE_CHANGES";
                this.siteChanges.tableId = "SITE_CHANGES_ID";
                axios.post(base_ip + "/wuzhengB/update", this.siteChanges).then((response) => {
                    if (response.data.code == '200') {

                    } else {
                        this.alertMessage = response.data.code.message;
                        $(".modal-button").click();
                    }
                })
                $('.input-group input').attr('disabled', true)
            }
        }
    })

</script>
</body>
</html>
