#vue_index #main_content .container {
  padding-bottom: 6px;
}
#vue_index #main_content .container .input-group {
  padding-top: 10px;
}
#vue_index #main_content .container .photo-all .fullPhoto .img-fluid {
  width: 750px;
  height: 350px;
}
#bodyBasicMain #main_content .container .col-h2 {
  padding: 0;
}
#bodyBasicMain #main_content .container .input-group {
  padding: 10px 3px 3px 3px;
}
#bodyBasicMain #main_content .container .col-12 {
  padding: 0;
}
h2,
h3,
h4 {
  text-align: left;
  font-size: 14px;
  color: #fff;
  background-image: linear-gradient(160deg, #2289e0 0%, #3988d0 67%, #3548e1 100%);
  height: 35px;
  line-height: 35px;
  padding-left: 15px;
  margin-top: 10px;
  border-radius: 3px 3px 0 0;
}
.row {
  margin: 0;
}
.col-h2 {
  padding: 0 15px;
}
.col-h2 h2,
.col-h2 h3,
.col-h2 h4 {
  text-align: left;
  font-size: 14px;
  color: #fff;
  background-image: linear-gradient(160deg, #2289e0 0%, #3988d0 67%, #3548e1 100%);
  height: 35px;
  line-height: 35px;
  padding-left: 15px;
  margin-top: 10px;
  border-radius: 3px 3px 0 0;
}
.el-date-editor {
  flex: 1;
  height: 38px;
}
.el-input__inner {
  height: 38px !important;
  box-sizing: border-box;
}
